[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RprobitB"]
	path = RprobitB
	url = https://github.com/loelschlaeger/rprobitb
[submodule "ao"]
	path = ao
	url = https://github.com/loelschlaeger/ao
[submodule "fHMM"]
	path = fHMM
	url = https://github.com/loelschlaeger/fhmm
[submodule "ino"]
	path = ino
	url = https://github.com/loelschlaeger/ino
[submodule "oeli"]
	path = oeli
	url = https://github.com/loelschlaeger/oeli
[submodule "optimizeR"]
	path = optimizeR
	url = https://github.com/loelschlaeger/optimizer
[submodule "portion"]
	path = portion
	url = https://github.com/loelschlaeger/portion
[submodule "vntrs"]
	path = vntrs
	url = https://github.com/loelschlaeger/vntrs
