[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ao"]
	path = ao
	url = https://github.com/loelschlaeger/ao
[submodule "fHMM"]
	path = fHMM
	url = https://github.com/loelschlaeger/fhmm
[submodule "ino"]
	path = ino
	url = https://github.com/loelschlaeger/ino
[submodule "optimizeR"]
	path = optimizeR
	url = https://github.com/loelschlaeger/optimizer
[submodule "RprobitB"]
	path = RprobitB
	url = https://github.com/loelschlaeger/rprobitb
[submodule "vntrs"]
	path = vntrs
	url = https://github.com/loelschlaeger/vntrs
