[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ao"]
	path = ao
	url = https://github.com/loelschlaeger/ao
	shallow = true
	registered = true
[submodule "fHMM"]
	path = fHMM
	url = https://github.com/loelschlaeger/fhmm
	shallow = true
	registered = true
